.container{
    background-color:#FFFFFF;
    border-radius: 10px;
    height: 625px;
    width: 100%;
    margin-top:100px;
    -webkit-box-shadow: -4px 2px 28px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 2px 28px -5px rgba(0,0,0,0.75);
    box-shadow: -4px 2px 28px -5px rgba(0,0,0,0.75);
}